<!DOCTYPE html>
<html lang="en" ng-app="images">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">


  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>

  <!-- ui router -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>


  <script type="text/javascript" src="javascripts/app.js"></script>
  <script type="text/javascript" src="javascripts/home_controller.js"></script>
  <script type="text/javascript" src="javascripts/routes.js"></script>

  </script>
  <title>MEAN Sample</title>
</head>
<body>
  <div ui-view></div>
</body>
</html>
